body {
    background-image: url(./1330924.jpg);
    filter:blur(10)
}

#title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold

}

h2 {
    font-size: 23px;
}

#button-random-color {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#clear-board {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold
}

#buttons {
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#generate-board {
    text-align: center;
    vertical-align: middle;
    align-items: center;
}


#pixel-board {
    text-align: center;
    margin-top: 20px;
}

.line {
    vertical-align: middle;
}

.pixel {
    width: 40px;
    border: solid 1px black;
    height: 40px;  
    vertical-align: middle;
    display: inline-block; 
    background-color: white;
}

#board-size {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold
}

#generate-board {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold
}
